In [1]:
3-2

[1] 1

In [2]:
sin(4)

[1] -0.7568025

In [3]:
4>3

[1] TRUE

In [4]:
4==4

[1] TRUE

In [5]:
!(4==4)

[1] FALSE

In [6]:
(4==4) && (3>12)

[1] FALSE

In [7]:
(4==4) && (3<12)

[1] TRUE

In [8]:
# Variable Assignment

In [9]:
a <- 3+3

In [10]:
greetings <- "Hey, Buddy!"

In [11]:
print(greetings)

[1] "Hey, Buddy!"

In [13]:
some_logic <- TRUE

In [14]:
#The Vector

In [15]:
dat <- c(4,5,6,23,2)

In [16]:
print(dat)

[1]  4  5  6 23  2

In [19]:
v1 <- c(1,2,3)
v2 <- c(5,4,3)
v <- c(v1,v2)

In [20]:
print(v)

[1] 1 2 3 5 4 3

In [21]:
v3 <- seq(-10,10,2)

In [22]:
print(v3)

 [1] -10  -8  -6  -4  -2   0   2   4   6   8  10

In [23]:
print(m)

ERROR: Error in print(m): object 'm' not found

In [24]:
m <- seq(1:20)

In [25]:
print(m)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [26]:
u <- seq(-2:2)

In [27]:
print(u)

[1] 1 2 3 4 5

In [28]:
u <- (-2:2)

In [29]:
print(u)

[1] -2 -1  0  1  2

In [30]:
w <- seq(-2,2)

In [31]:
print(w)

[1] -2 -1  0  1  2

In [32]:
v <- rnorm(5)

In [33]:
v

[1] -0.545123857  0.642384505 -0.094683895  1.285291192  0.001556543

In [34]:
v[2:5]

[1]  0.642384505 -0.094683895  1.285291192  0.001556543

In [35]:
v[c(1,3)]

[1] -0.54512386 -0.09468389

In [36]:
u <- c(5,6,8,22)

In [38]:
u[1] <- 0

In [39]:
print(u)

[1]  0  6  8 22

In [40]:
u3 <- u[1:3]

In [41]:
print(u3)

[1] 0 6 8

In [ ]:
#A problem he gave us in class

In [42]:
v <- c(10,20,30)

In [43]:
v[1] <- 0

In [44]:
v[2] <- 0

In [45]:
print(v)

[1]  0  0 30

In [ ]:
#a different way to solve this

In [48]:
t <- c(10,20,30)
t[1:2] <- 0
print(t)

[1]  0  0 30

In [49]:
#Create a vector (call it v1) with the five elements 10, 20, 30, 40, and 50. Now use indexing to get the first, third, and fifth elements from that vector and put them in a new vector (call that one v2)

In [50]:
v1 <- seq(10,50,10)

In [51]:
print(v1)

[1] 10 20 30 40 50

In [56]:
v2 <- v1[1] && v1[3] && v1[5]

In [57]:
print(v2)

[1] TRUE

In [58]:
#answer

In [59]:
v1 <- c(10,20,30,40,50)

In [60]:
idx <- c(1,3,5)

In [61]:
v2 <- v1[idx]

In [62]:
print(v2)

[1] 10 30 50

In [63]:
#Another approach

In [66]:
v1 <- seq(10,50,10)  #this is creating a vector
idx <- c(TRUE,FALSE,TRUE,FALSE,TRUE)  #
v2 <- v1[idx]
print(v2)

[1] 10 30 50

In [67]:
#Another approach

In [72]:
v1 <- seq(10,50,10)  
v2 <- c(v[1],v[3],v[5])
print(v2)

[1]  0 30 NA

In [73]:
print("hi")

[1] "hi"